.container {
  text-align: center;
  margin: 0 auto;
  height: 50%;
  width: 50%;
  background-color: turquoise;
  border-radius: 15px 50px 30px;
}

.quote-card {
  display: flex;
  color: white;
  font-size: 40px;
  background-color: rgb(4, 82, 74);
  height: 300px;
  padding: 20px;
}

button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  margin-bottom: 15px;
}